@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&display=swap');

body{
    background: #ffffff;
}

main{
    height: 100;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(80px, 200px))
    minmax(60px, 1fr);
}

header{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    padding: 1em;
    grid-column: 2 / span 6;
}

.links{
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 150px;  
}

.links button{
    font-size: 20px;
    font-weight: 400;
    transition: var(--transition);
    font-family: 'Comfortaa', cursive;
}

button{
    font-family: 'Comfortaa', cursive;
}

button.button_1{
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}
button.button_1:hover{
    color: var(--accent);
    background-color: var(--accentHover);
    border-radius: 12px;
}

button.bell{
    border: none;
    background-color: var(--accent);
    padding: 8px 10px;
    transition: var(--transition);
}
button.bell:hover{
    border: 3px solid #ec6a86;
    transition: all 0.5s ease 0s;
    border-radius: 12px;
}

button, .logo{
    cursor: pointer;
}

.logo{
    width: 300px; 
    padding-top: 5px;
}

section{
    margin-top: 50px;
    grid-column: 3 / span 6;
}

.info{
    margin: 50px;
}





