@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&display=swap');

:root {
    /* Define Variable */
    --accent : #ffffff; 
    --accentHover : #ec6a86; 
    --dark60 : rgb(255, 255, 255);
    --light : #ffffff;
    --transition : all 0.5s ease 0s
}


body{
    background-color: var(--accentHover);
}

button, .logo{
    cursor: pointer;
}

.logo{
    width: 300px;
}

main{
    height: 100;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(80px, 200px))
    minmax(60px, 1fr);
}

section{
    grid-column: 2 / span 6;
}

nav{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    padding: 1em;
}

.links{
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 150px;
    
}

.links button{
    font-size: 1.5rem;
    font-weight: 400;
    transition: var(--transition);
    font-family: 'Comfortaa', cursive;
}

button{
    font-family: 'Comfortaa', cursive;
    font-size: large;
}

button.button_1{
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}
button.button_1:hover{
    color: var(--accent);
    background-color: var(--accentHover);
}

button.bell{
    border: none;
    background-color: var(--accent);
    padding: 8px 10px;
    transition: var(--transition);
}


.bn1{
    border: none;
    color: #ffffff;
    background-color: #303030;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin: 5%;
}
.bn1:hover{
    color: black;
    background-color: var(--light);
}

.bn2{ /* Category  */
    border: none;
    color: #ffffff;
    background-color: #303030;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    margin: 5% ;
}
.bn2:hover{
    color: black;
    background-color: #ffffff;
}

table{
    width: 100%;
}

.menu{
    padding: 1em;
    text-align: center;
}

td{
    background-image: linear-gradient(rgb(255, 238, 142),rgb(236, 106, 134), rgb(236, 106, 134));
}

.input{
    text-align: left;
    padding-left: 10px;
    width: 185px;
    height: 50px;
    border-radius: 12px;
    border: 3px solid #303030;
}

@media only screen and (max-width:800px){
    .logo{
        width: 200px;
    }
    section{
        grid-column: 1 / span 6;
        width: 490px;
    }
    .bn1{
        width: 140px;
    }
    .bn2{ /* Category  */
        width: 140px;
    }
    .input{
        width: 125px;
    }
    .menu{
        width: 200px;
    }
}