@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&display=swap');

body{
    display: grid;
    height: 100vh;
    place-items:center;
    background: #ffffff;
    font-family: 'Comfortaa', cursive;
}

td{
    width: 50%;
}

input{
    padding: 10px 30px;
    border-radius: 12px;
}

button{
    
    cursor: pointer;
}

button.bt1{
    border: none;
    background-color: #ec6a86;
    color: #ffffff;
    padding: 8px 25px;
    transition: all 0.5s ease 0s;
    border-radius: 12px;
    
}

button.F{
    padding: 0;
    width: 120px;
    border-radius: 12px;
    background-color: #4867AA;
    color: #ffffff;
    font-size: medium;
}

button.G{
    padding: 0;
    width: 120px;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: medium;
    place-items: center;
}

button.S_U{
    padding: 1em;
    width: 200px;
    background-color: #ec6a86;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: left;
}