@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&display=swap');

body{
    height: 100vh;
    place-items:center;
    background: #ffffff;
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(80px, 200px))
    minmax(60px, 1fr);
}

table{
    grid-column: 2 / span 6;
}
p{
    margin-top: 10%;
}

td{
    width: 50%;
    padding: 0.5em;
}

input{
    padding: 10px 30px;
    border-radius: 12px;
}

button{
    
    cursor: pointer;
}

button.bt1{
    border: none;
    background-color: #ec6a86;
    color: #ffffff;
    padding: 8px 25px;
    transition: all 0.5s ease 0s;
    border-radius: 12px;
    margin-bottom: 20px;
}

button.F{
    padding: 0;
    width: 120px;
    border-radius: 12px;
    background-color: #4867AA;
    color: #ffffff;
    font-size: medium;
}

button.G{
    padding: 0;
    width: 120px;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: medium;
    place-items: center;
}

button.S_U{
    padding: 1em;
    width: 200px;
    background-color: #ec6a86;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: left;
}

.logo{
    width: 450px;
}

@media only screen and (max-width:900px){
   .G{
        margin-top: 10px;
   }
   table{
    grid-column: 2 / span 5;
   }

}

@media only screen and (max-width:800px){
    .logo{
        width: 200px;
    }
    p{
        margin-top: 20%;
    }
}