<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="/css/additem.css">
</head>
<body>
    <% if(typeof mesg != "undefined") { %>
        <h1><%= mesg %></h1>
        <% } %>
    <div class="add">    
        <h1>Add item</h1>
        <form action="/additem" method="post">
            <div>
                <label>id</label>
                <input class="input" type="text" name="id" id="id">
            </div>
            <div>
                <label>name</label>
                <input class="input" type="text" name="name" id="name">
            </div>
            <div>
                <label>category</label>
                <input class="input" type="text" name="category" id="category">
            </div>
            <div>
                <label>description</label>
                <input class="input" type="text" name="description" id="description">
            </div>
            <div>
                <label>price</label>
                <input class="input" type="text" name="price" id="price">
            </div>
            <div>
                <label>image</label><br>
                <input class="input2" type="file" name="image" id="image">
            </div>

            <button type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>