<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    <table>
        <tr>
            <td>                
                <p>SIGN IN</p>
                <div class="container">
                    <form action="/home.html">                      
                        <input type="text" id="username" placeholder="Username" required>     <br><br>            
                        <input type="password" id="password" placeholder="Password" required> <br><br>
                        <input type="submit" id="bt1" value="Login">
                    </form>
                  </div>
                <hr><br>
                <a href="#"><button class="F"><img src="/img/FB logo.jpg" alt="FB" style="width: 100px;"></button></a>
                <a href="#"><button class="G"><img src="/img/GG logo.jpg" alt="GG" style="width: 100px;"></button></a>
            </td>
                
            <td>
                <div>
                    <a href="/index.html"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
                    <div class="signup">
                    <p>New customer?</p>
                <a href="/register.html"><button class="S_U">Sign Up</button></a>
                </div>
            </td>
        </tr>
    </table>

    
</body>
</html>