<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile-2.css">
    
</head>
<body>
    <main>
        <header>
            <a href="/index.html"><img class="logo" src="/img/Logo.PNG" alt="Logo"></a>
                <div class="links">
                    <a href="#"><button class="bell"><img src="/img/bell-svgrepo-com.svg" alt="bell" width="30px" ></button></a>
                    <a href="/Login.html"><button class="button_1">LOG OUT</button></a>
                </div>
        </header>
    
        
        <section>
            <h2>My Profile</h2>
            <div class="info">    
                <p id="name_">Name : </p>
                <p id="user_">Username : </p>
                <p id="email_">Email : </p>
                <p id>Phone : </p> <br>
                <p>Address : </p>
                <p>Bank Accounts/Cards : </p>
            </div>
        </section>
    </main>
</body>
</html>