<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <main>
        <header>
            <a href="/index"><img class="logo" src="/img/logo.png" alt=".Logo"></a>
        </header>
    
        <section>
            <form action="/register" method="post">
                <div class="info1"> 
                    <div class="personal">
                        <p>Personal Information</p>
                        <input type="text" name="id" id="id" placeholder="id">
                        <input type="text" name="name" id="name" placeholder="Name">
                        <input type="text" name="username" id="username" placeholder="Username"> <br>
                        <input type="text" name="email" id="email" placeholder="Email">
                        <input type="text" name="password" id="password" type="text" placeholder="Password">
                    </div>
                     
                </div>  
    
        
            
             <button type="submit">submit</button>
        </form>   
    </section> 
    </main>
    
</body>
</html>