<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <main>
        <header>
            <a href="/index"><img class="logo" src="/img/logo.png" alt=".Logo"></a>
        </header>
    
        <section class="information-1">
            <div>
                <p>Personal Information</p>
                <input id="name" placeholder="Name">
                <input id="username" placeholder="Username"> <br>
                <input id="email" placeholder="Email">
                <input id="password" type="password" placeholder="Password">
            </div>
            

        </section>
    
        <section class="information-2">  
            <div>
                <p>Address Information</p>
                <input type="text" placeholder="Address">
                <input type="text" placeholder="Address">
                <input id="tel" placeholder="Phone">
            </div>          
            <div class="payment">
                <p>Payment Information</p>
                <input type="text" placeholder="Payment">
                <input type="text" placeholder="Card">
                
            </div>
            
            <a href="/profile"><button class="btn-S">Register</button></a>
        </section>
    </main>
    
</body>
</html>